@-webkit-keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
.faa-flash.animated {
    -webkit-animation: flash 2s ease infinite;
    animation: flash 2s ease infinite;
}