{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Cloud Kitchen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <!-- custom fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">

    <script src="{% static 'js/feather.js '%}"></script>

    <style>
    .bg-toast-green {
        background-color: #32B056 !important;
        color: #FFF !important;
    }

    .bg-toast-red {
        background-color: #E85050 !important;
        color: #FFF !important;
    }

    .bg-toast-info {
        background-color: #282828 !important;
        color: #FFF !important;
    }
    </style>
</head>

<body class="theme-dark">

    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>

    <div id="page">

        <div class="page-content">

            <div class="p-2 mt-3 flex-grow-1">
                <a href="javascript:void(0)" onclick="javascript:history.go(-1);">
                    <h1 class="f18 fsn ls1 fw600 ml-2 ff"><i class="fa fa-angle-left font-16 pr-2"></i>
                        Cart </h1>
                </a>
            </div>
        
                <div class="content" style="margin-left:20%!important;margin-right:20%!important;">
                    {% if cartItems%}
                     {% for i in cartItems %}
                        <h1></h1>
                        <div class="ml-4 mr-2 mt-3">
                            <h1 class="fs-20 c_prod_name">{{ i.product_name }}</h1>
                            <a href="javascript:void(0)" class="float-prop dlt-prod" data-p-id="{{ i.cart_product_id }}"> <i class="fa fa-trash color-white"></i></a>
                            <div class="row plus-minus-input mt-3" style="width:200px!important;">
                                <div class="col-3 input-group-button" style="padding-left:5px!important;">
                                  <button type="button" class="button hollow circle dec_qty" data-cp-id="{{ i.cart_product_id }}">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                  </button>
                                </div>
                                <input class="col-3 input-group-field" style="padding:0.5rem!important;" type="text" id="quant_inp_{{ i.cart_product_id }}" name="quantity" value="{{ i.quantity }}"  readonly>
                                <div class="input-group-button col-3">
                                  <button type="button" class="button hollow circle inc_qty" data-cp-id="{{ i.cart_product_id }}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                  </button>
                                </div>
                                <h3 class="fw600" style="position:absolute;right:20%;"> {{ i.total_price}} €</h3>
                            </div>
                            
                        </div>
                     {% endfor %}
                    {% else %}
                       <h3 style="text-align:center;" class="mt-5">Cart is empty</h3>
                    {% endif %}
                   
                  {% if cartItems and orderPrice > 0 %}
                   <div class="divider divider-margins"></div>
                  
                   <!-- <button class="btn btn-m bg-green-theme font-800 text-uppercase rounded-s">Order Now</button> -->
                   <button class="green_btn_new o_btn" data-total-price="{{ orderPrice }}" data-cart-id="{{ cart_id }}">Order Now - {{orderPrice}} €</button>
                  {% endif %}
                 
                </div>
              
               
             
        </div>        

       

        <!-- toast triggers -->
        <a href="#" id="success_notification_trigger" data-toast="success-notification" style="display:none!important;">
            <i class="fab font-17 fa-android color-green-dark"></i>
            <span>Android Style 1</span>
            <i class="fa fa-angle-right"></i>
        </a>

        <a href="#" id="failure_notification_trigger" data-toast="failure-notification" style="display:none!important;">
            <i class="fab font-17 fa-android color-green-dark"></i>
            <span>Android Style 1</span>
            <i class="fa fa-angle-right"></i>
        </a>

        <a href="#" id="info_notification_trigger" data-toast="info-notification" style="display:none!important;">
            <i class="fab font-17 fa-android color-green-dark"></i>
            <span>Android Style 1</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <!-- toast triggers end -->

        <!-- toast messages -->
        <div id="success-notification" data-dismiss="success-notification" data-delay="5000" data-autohide="true"
            class="notification notification-android bg-toast-green"
            style="left:0px!important;right:0px!important;top:0px!important;">
            <i><i data-feather="check-circle"></i></i>
            <p id="success-notification-message" class="font-14 pt-2" style="color:#FFF;">
                Success
            </p>
        </div>

        <div id="failure-notification" data-dismiss="success-notification" data-delay="5000" data-autohide="true"
            class="notification notification-android bg-toast-red"
            style="left:0px!important;right:0px!important;top:0px!important;">
            <i><i data-feather="frown"></i></i>
            <p id="failure-notification-message" class="font-14 pt-2" style="color:#FFF;">
                Failure
            </p>
        </div>

        <div id="info-notification" data-dismiss="success-notification" data-delay="5000" data-autohide="true"
            class="notification notification-android bg-toast-info"
            style="left:0px!important;right:0px!important;top:0px!important;">
            <i><i data-feather="truck"></i></i>
            <p id="info-notification-message" class="font-14 pt-2" style="color:#FFF;">
                Information
            </p>
        </div>
        <!-- toast messages end -->



    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cheff.js' %}"></script>

    <script>
        feather.replace()
    </script>
</body>
