{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Cloud Kitchen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <!-- custom fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">

    <script src="{% static 'js/feather.js '%}"></script>

    <style>
    .bg-toast-green {
        background-color: #32B056 !important;
        color: #FFF !important;
    }

    .bg-toast-red {
        background-color: #E85050 !important;
        color: #FFF !important;
    }

    .bg-toast-info {
        background-color: #282828 !important;
        color: #FFF !important;
    }
    </style>
</head>

<body class="theme-dark">

    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>

    <div id="page">


        <div class="page-content pb-0 mb-0">
            {% if messages %}
              {% for message in messages %}
               <div id="failure-notification" data-dismiss="success-notification" data-delay="5000" data-autohide="true"
               class="notification notification-android bg-toast-red fade show" style="left:0px!important;right:0px!important;top:0px!important;">
               <i><i data-feather="frown"></i></i>
               <p id="failure-notification-message" class="font-14 pt-2" style="color:#FFF;">{{ message }}</p>
               </div>
              {% endfor %}
            {% endif %}
            

            <div class="card" data-card-height="cover">
                <div class="">
                    <div class="d-flex flex-column justify-content-center">
                       
                    <div class="card-center px-4 mt-0 mb-5">
                    <div class="p-2 pb-5 align-center">
                        <h3 class="fw500 fsn">CLOUD <span style="color:grey!important;"> KITCHEN </span>IN</h3>
                        </div>
                        <h4 class="font-18 fsn fw400 mt-5">login to your account</h4>
                        <form method="POST" class="loginnew">
                            {% csrf_token %}
                            <div class="input-style input-style-1 input-required mt-3">
                                <input class="form-control" style="color:#FFFFFF!important;" type="text"
                                    name="username" value="SuperAdmin">
                            </div>

                            <div class="input-style input-style-1 input-required">
                                <input class="form-control" style="color:#FFFFFF!important;" type="password"
                                    placeholder="" name="password" value="123456">
                            </div>

                            <button type="submit" class="green_btn_new  font-poppins">Sign in</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <!-- Page content ends here-->

        <!-- toast triggers -->
        <a href="#" id="success_notification_trigger" data-toast="success-notification" style="display:none!important;">
            <i class="fab font-17 fa-android color-green-dark"></i>
            <span>Android Style 1</span>
            <i class="fa fa-angle-right"></i>
        </a>

        <a href="#" id="failure_notification_trigger" data-toast="failure-notification" style="display:none!important;">
            <i class="fab font-17 fa-android color-green-dark"></i>
            <span>Android Style 1</span>
            <i class="fa fa-angle-right"></i>
        </a>

        <a href="#" id="info_notification_trigger" data-toast="info-notification" style="display:none!important;">
            <i class="fab font-17 fa-android color-green-dark"></i>
            <span>Android Style 1</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <!-- toast triggers end -->

        <!-- toast messages -->
        <div id="success-notification" data-dismiss="success-notification" data-delay="5000" data-autohide="true"
            class="notification notification-android bg-toast-green"
            style="left:0px!important;right:0px!important;top:0px!important;">
            <i><i data-feather="check-circle"></i></i>
            <p id="success-notification-message" class="font-14 pt-2" style="color:#FFF;">
                Success
            </p>
        </div>

        <div id="failure-notification" data-dismiss="success-notification" data-delay="5000" data-autohide="true"
            class="notification notification-android bg-toast-red"
            style="left:0px!important;right:0px!important;top:0px!important;">
            <i><i data-feather="frown"></i></i>
            <p id="failure-notification-message" class="font-14 pt-2" style="color:#FFF;">
                Failure
            </p>
        </div>

        <div id="info-notification" data-dismiss="success-notification" data-delay="5000" data-autohide="true"
            class="notification notification-android bg-toast-info"
            style="left:0px!important;right:0px!important;top:0px!important;">
            <i><i data-feather="truck"></i></i>
            <p id="info-notification-message" class="font-14 pt-2" style="color:#FFF;">
                Information
            </p>
        </div>
        <!-- toast messages end -->



    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cheff.js' %}"></script>

    <script>
    feather.replace()
    </script>
</body>