@-webkit-keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
.faa-flash.animated,
.faa-flash.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-flash {
    -webkit-animation: flash 2s ease infinite;
    animation: flash 2s ease infinite;
}
.faa-flash.animated-hover.faa-fast:hover,
.faa-flash.animated.faa-fast,
.faa-parent.animated-hover:hover > .faa-flash.faa-fast {
    -webkit-animation: flash 1s ease infinite;
    animation: flash 1s ease infinite;
}
.faa-flash.animated-hover.faa-slow:hover,
.faa-flash.animated.faa-slow,
.faa-parent.animated-hover:hover > .faa-flash.faa-slow {
    -webkit-animation: flash 3s ease infinite;
    animation: flash 3s ease infinite;
}